body{
    background-color: #ECF1EE;
}
body, button{
    font-family: 'Helvetica';
}
a{
    text-decoration: none;
    color: inherit;
}
@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/Helvetica-Neue-Medium.ttf);
}

/* header */
header{
    border-bottom: 1px solid #000000;
}
.nav-container{
    max-width: 1330px;
    width: 90%;
    margin: 0 auto;

    height: 124px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a img:hover{
    transform: scale(1.1);
    text-shadow: 0 1 5px rgba(1, 96, 27, 0.5);
    transition-duration: .5s;
}
.nav-links{
    width: 700px;
}
.nav-links ul{
    display: flex;
    justify-content: end;
    gap: 40px;
}
.nav-links ul li{
    text-transform: capitalize;
    font-size: 18px;
    justify-content: space-around;
}
.nav-links ul li:hover{
    transform: scale(1.1);
    text-shadow: 0 0 15px rgba(0, 2, 63, 0.2);
    transition-duration: .5s;
}
.icons{
    width: 130px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.icons img:hover{
    transform: scale(1.1);
    text-shadow: 0 0 15px rgba(2, 2, 63, 0.2);
    transition-duration: .5s;
}

/* home-body */
.section-1-container{
    max-width: 1194px;
    width: 90%;
    margin: 0 auto;
    height: 677px;
    display: flex;
    justify-content: space-around;
}
.section-1-title{
    height: 418px;
    align-self: center;
}
.section-1-title h2{
    width: 472px;
    height: 111px;
    margin-bottom: 13px;
    font-size: 44px; 
}
.section-1-title p{
    width: 418px;
    height: 111px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 60px;
}
.section-1-img img{
    width: 501px;
    height: 604px;
}
.button-flex{
    width: 417px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.section-1-button{
    width: 196px;
    height: 50px;
    color:#FFFFFF;
    background-color: #01601B;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.section-1-button:hover{
    box-shadow: 0 0 15px  #01601B;
    transition-duration: .5s;
}
.section-icons{
    display: grid;
    row-gap: 17px;
}
.section-icons img{
    width: 33px;
    height: 26px;
}
.section-icons img:hover{
    transform: scale(1.1); 
    transition-duration: .5s;   
}
.right-border{
    height: 173px;
    border-right: 1px solid #000000;
}
.icons-div{
    align-self: flex-end;
}
/* home section-2 container */
.section-2-container{
    max-width: 1264px;
    width: 90%;
    margin: 0 auto;
    height: 900px;
}
.section-2-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 62px;
    column-gap: 62px;
}
.section-2-title{
    font-size: 36px;
    text-transform: uppercase;
    margin: 46px 0px 46px 0px;
}
.section-2-img{
    position: relative;
}
.section-2-img img{
    border-radius: 10px;
    cursor: pointer;
}
.section-2-img:hover img{
    opacity: 0.5;
    transition-duration: .5s;
}
.btn-add{
    width: 216.5px;
    height: 50.19px;
    position: absolute;
    bottom: 48px;
    left: 76px;

    color: #0F6845;
    background-color: #FFFFFF;
    border-radius: 10px;
    outline: none;
    border: none;

    font-size: 19px;
    opacity: 0;
}
.section-2-img:hover .btn-add{
    opacity: 1;
    transition-duration: 0.5s;
    cursor: pointer;
}
.name-price{
    position: absolute;
    bottom: 0px;
    width: 369px;
    height: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color:#FFFFFF;
    font-size: 18px;
    background-color: rgba(54, 121, 79, 0.55);
    border-radius: 0px 0px 10px 10px;
}
.section-2-img:hover .name-price{
    background-color: #36794F;
    transition-duration: .5s;
    cursor: pointer;
}
.name-price :nth-child(1){
    padding-left: 13px;
}
.name-price :nth-child(2){
    font-style: italic;
    padding-right: 26px;
}
.see-more{
    margin-top: 29px;
    float: right;
    text-decoration: underline;
    color: #01601B;
    font-size: 18px;
    cursor: pointer;
}
.see-more:hover{
    opacity: 0.5;
    transition-duration: .5s;
}

/*home section-3 */
.section-3-container{
    max-width: 1264px;
    width: 90%;
    margin: 0 auto;
    height: 900px;
}
.section-3-title{
    margin-bottom: 29px;
    font-size: 36px;
    text-transform: uppercase;
}
.section-3-flex{
    display: flex;
    gap: 85px;
}
.section-3-article{
    width: 600px;
    background-color: rgb(255 255 255);
    border-radius: 10px;
    box-shadow: 0px 2px 13px 1px rgba(209, 209, 209, 0.31);
}
.section-3-article img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.section-3-article h2{
    font-size: 24px;
    margin: 20px 0px 32px 5px;
}
.section-3-article p{
    width: 568px;
    height: 80px;
    margin: 20px 0px 32px 5px;
    Line-height: 20px;
    font-weight: lighter;
}
/* section-4 */
.section-4-flex{
    display: flex;
    position: relative;
    margin-bottom: 190px;
}
.plant-accessories{
    border-radius: 0px 0px 201px;
}
.section-4-title{
    margin-left: 32px;
    margin-bottom: 101px;
    font-size: 41px;
    text-transform: uppercase;
}
.section-4-text{
    position: absolute;
    right: 20px;
    width: 744px;
    height: 389px;
    padding: 94px 125px 0px 108px;

    background-color: #D9D9D9;
    box-shadow: 10px 23px 29px 14px rgba(215, 242, 225, 0.2);
    border-radius: 16px;
    position: absolute;
}
.section-4-text p{
    margin-top: 20px;
    width: 429px;
    line-height: 24px;
}

/* contact-body */

.section-contact{
    position: relative;
    margin-top: 192px;
    margin-bottom: 69px;
    width: 100%;
    height: 1079px;
    background-image: url('../images/img-png/plants-on-table.png');
}
.green-rect{
    position: absolute;
    right: 13px;
    top: 20px;
    width: 98%;
    height: 1044px;
    padding: 37px;
    background-color: rgb(1 96 27 / 50%);
}
.contact-title{
    display: flex;
    justify-content: center;
    color:#FFFFFF;
    font-size: 30px;
}
.contact-flex{
    position: relative;
    max-width: 1252px;
    width: 100%;
    margin: 0 auto;

    top: 175px;
    display: flex;
    justify-content: space-between;
}
.contact-icons div{
    display: flex;
    justify-content: center;
}
.contact-icons p{
    color:#FFFFFF;
    font-size: 26px;
    margin-bottom: 256px;
    cursor: pointer;
}
.icons-flex img{
    margin-bottom: 46px;
    cursor: pointer;
}
.icons-flex img:hover{
    transform: scale(1.1);
    transition-duration: .5s;
}
.input-flex{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 119px;
}
.input h2{
    margin-bottom: 11px;
    color:#FFFFFF;
    font-size: 16px;
}
.input input{
    padding: 20px;
    margin-bottom: 52px;
    width: 294px;
    height: 40px;

    border-radius: 12px;
    border: none;
    outline:none;
}
.textarea{
    display: grid;
    justify-content: center;
}
.textarea h2{
    color:#FFFFFF;
    font-size: 16px;
    margin-top: 38px;
    margin-bottom: 11px; 
}
.textarea textarea{
    padding-left: 20px;
    padding-top: 20px;
    width: 707px;
    height: 154px;
    border-radius: 12px;
    outline: none;
}
.section-2-contact-container{
    max-width: 1043px;
    width: 80%;
    margin: 0 auto;
}
.contact-section-2-title{
    margin-bottom: 55px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.map-border{
    position: relative;
    margin-bottom: 97px;
    width: 1043px;
    height: 578.86px;
    border: 1px solid #01601B;
}
iframe{
    position: absolute;
    top: 11%;
    left: 11%;
}



/* footer */
footer{
    background-color: #255338;
    color: #FFFFFF;
}
.footer-container{
    max-width: 1330px;
    width: 90%;
    margin: 0 auto;
    height: 370px;
}
.footer-flex{
    display: flex;
    justify-content: space-between;
}
.footer-list1{
    margin-top: 36px;
}
.footer-list2 h2, .footer-list3 h2, .footer-list4 h2{
    margin-top: 37px;
    margin-bottom: 17px;
    font-size: 20px;
}
.footer-container ul{
    display: grid;
    row-gap: 8px;
    font-size: 17px;
    text-transform: capitalize;
    cursor: pointer;
}
.footer-icons :nth-child(3){
    width: 30px;
    height: 29px;
    background-color: #FFFFFF;
    border-radius: 5px;
}
.footer-list1 h2{
    font-size: 30px;
    margin-bottom: 86px;
}
.footer-list1 p{
    font-size: 18px;
    margin-bottom: 26px;
}
.email-input{
    position: relative;
}
.email-input input{
    width: 307px;
    height: 50px;
    padding-left: 15px;
    outline: none;
    border-radius: 10px;
    border-color: #FFFFFF;
    color:#FFFFFF;
    background-color: #255338;
    font-size: 18px;
}
.email-input input::placeholder{
    color:#FFFFFF;
    font-size: 18px;
}
.vector{
    position: absolute;
    left: 270px;
    top: 35%;
}
.vector:hover{
    transform: scale(1.1);
    transition-duration: .5s;
}
.footer-icons{
    width: 139.98px;
    height: 30.36px;
    margin-top: 51px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.footer-icons img:hover{
    transform: scale(1.1);
    transition-duration: .5s;
}
.bottom-list-5 ul{
    height: 65px;
    display: flex;
    justify-content: right;
    align-items: center;

    column-gap: 20px;
    margin-right: 61px;
    font-size: 17px;

    text-transform: capitalize;
    cursor: pointer;
}
.border{
    border-top: 1px solid #FFFFFF;
}